{% extends "base.html" %}
{% block title %}Solicitar Insumo{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Solicitar: {{ insumo.descripcion }} (Stock: {{ insumo.stock_actual }})</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label>Dependencia</label><br>
            <input type="text" class="form-control" value="{{ current_user.dependencia}}" readonly>
        </div>
        <div class="form-group">
            <label>Nombre</label><br>
            <input type="text" class="form-control" value="{{ current_user.nombre }}" readonly>
        </div>
        <div class="form-group">
            {{ form.cantidad_solicitada.label }}<br>
            {{ form.cantidad_solicitada(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
    <a class="btn-link" href="{{ url_for('solicitar_insumos') }}">Volver</a>
</div>
{% endblock %}