{% extends "base.html" %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.cedula.label }}<br>
            {{ form.cedula(class="form-control") }}
            {% for error in form.cedula.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
            <button type="submit" class="btn-agregar">Iniciar Sesión</button>
        </div>
    </form>
</div>
{% endblock %}