{% extends "base.html" %}
{% block content %}
<div class="menu-container">
    <h1>Solicitar Insumos</h1>
    <form method="get" action="{{ url_for('solicitar_insumos') }}">
        <input type="text" name="filtro" class="filtro-input-menu" placeholder="Buscar insumo..." value="{{ filtro }}">
        <button type="submit" class="btn-filtrar filtro-btn">Filtrar</button>
    </form>
    <div class="table-scroll">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for insumo in insumos %}
            <tr>
                <td>{{ insumo.codigo_insumo }}</td>
                <td>{{ insumo.descripcion }}</td>
                <td>{{ insumo.stock_actual }}</td>
                <td>
                    <form method="post" action="{{ url_for('agregar_insumos', insumo_id=insumo.id) }}">
                        <button type="submit" class="btn-agregar">Agregar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<!-- Contenedor para los botones de acción -->
    <div class="action-buttons-footer">
        <a href="{{ url_for('confirmar_solicitud_insumos') }}" class="btn-footer-solid">Solicitar</a>
        <a href="{{ url_for('index') }}" class="btn-footer-outline">Volver al menú</a>
    </div>
</div>
{% endblock %}